{% import 'menu-item.njk' as menu_item with context %}

{%- if theme.menu %}
<nav id="site-nav" class="site-nav" aria-label="主导航">
  <ul class="main-menu menu">
    {%- for node in theme.main_menu %}
      {{- menu_item.render(node) | trim }}
    {%- endfor %}
  </ul>
</nav>
{%- endif %}
